{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}


<section id="somos-proya">
    <div class="container">
        <div class="img-container"></div>
        <div class="texto">

            <center><h2><span class="color-acento">Bienvenidos!</span> Municipalidad de Puente Alto</h2></center>
            
            <center><p>Estas listo para ingresar a un taller y compensar con tus clases, comienza ahora, realiza la inscripción para ingresar
                al taller que más te guste, tenemos diferentes profesores listos para enseñar y realizar actividades físicas para todo 
                todas las edades, no olvides que puedes postular como profesor no importa la edad.</p></center>
        </div>
    </div>
</section>

<section id="nuestros-programas">
    <div class="container">
        <h2>~ Talleres Disponibles ~</h2>
        <div class="programas">
            <div class="carta">
                <br>
                <h3>Taller 1</h3>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="continue-button">
                    <button><a href="{% url 'tallerIngresado1'%}">+ Informacion</a> </button>
                </div>
            </div>
            <div class="carta">
                <br>
                <h3>Taller 2</h3>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="continue-button">
                    <button><a href="{% url 'tallerIngresado2'%}">+ Informacion</a> </button>
                </div>
            </div>
            <div class="carta">
                <br>
                <h3>Taller 3</h3>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="continue-button">
                    <button><a href="{% url 'tallerIngresado3'%}">+ Informacion</a> </button>
                </div>
            </div>  
        </div>
    </div>
</section>



{% endblock %}