<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talleres</title>
    <link rel="stylesheet" href="colorestalleres.css">
    
</head>
<body>
    <header>
        <div class="container">
            <br>
            <div class="logo"></div>
            <nav>
                <a href="https://ismaelparra123.github.io/Municipalidad_P/home.html">Home</a>
                <a href="#talleres">Talleres</a>
                <a href="#">Informacion</a>
                <a href="#">Servicios</a>
                <a href="https://ismaelparra123.github.io/Municipalidad_P/login.html">Login</a>
            </nav>
            
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="presentacion">
        <div class="img">
            <img src="imagenes/taller1.webp" alt="">
        </div>
        <div class="producto-info">
            <div class="producto-texto">
                <h1s>ssssssssssss</h1>
                <h2>aaaaaa</h2>
                <p>sadsadsa</p>
            </div>
            <div class="precio-btn">
                <a href="">Aceptar</a>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Municipalidad de puente alto</h4>
                    <ul>
                        <li><a href="https://www.google.com/maps/place/Av.+Concha+y+Toro+1820,+8150215+Puente+Alto,+Regi%C3%B3n+Metropolitana/@-33.5957612,-70.5813159,17z/data=!3m1!4b1!4m5!3m4!1s0x9662d71cb30079bd:0xa3c9d83e5ddd9f69!8m2!3d-33.5957612!4d-70.5791272">Dirección: Av. concha y Toro 1820,Puente Alto, Santiago</a></li>
                        <li><a>Mesa Central +56228101600</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Telefonos de emergencia</h4>
                    <ul>
                        <li><a href="https://www.carabineros.cl/">Plan Cuadrante Carabineros 133</a></li>
                        <li><a href="https://www.pdichile.cl/">PDI 134</a></li>
                        <li><a href="https://www.bomberos.cl/">Bomberos 132</a></li>
                        <li><a href="https://samu.cl/">Ambulancias 131</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Informacion</h4>
                    <ul>
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="#">asistencia </a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Redes Sociales</h4>
                    <div class="social-links">
                        <a href="https://es-la.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://cl.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>